/JMSPruebaApp/nbproject/private/
/JMSPruebaApp/JMSPruebaApp-war/nbproject/private/
/JMSPruebaApp/JMSPruebaApp-ejb/nbproject/private/
/JMSPruebaApp/JMSPruebaApp-ejb/dist/
/JMSPruebaApp/JMSPruebaApp-ejb/build/
/JMSPruebaApp/JMSPruebaApp-war/build/
/JMSPruebaApp/JMSPruebaApp-war/dist/
/JMSPruebaApp/build/
/JMSPruebaApp/dist/