<!DOCTYPE html>
<html>
  <head>
    <script>parent.window.setDebugConsole();</script>
    <title>JavaScript Tests</title>
    <meta charset="UTF-8">
    <script src="/JSConsole/js/testing-framework.js"></script>
    <script src="code.js"></script>
    <script>
      describe("Tests", function() {
        it("test case", function() {
          expect(a).toEqual(true);
        });
      });
    </script>
  </head>
  <body>
    <div class="test-header"></div>
    <div class="test-tip" title="">
      <div class="test-description"></div>
      <div class="test-popup"></div>
    </div>
    <div class="test-footer"></div>
  </body>
</html>
